.canvas-main-div{
    height: 99.4%;
    width: 85%;
    border: 3px dashed darkred;
    overflow-x: scroll;
    overflow-y: scroll;
}
#canvas{
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: lightgrey; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}