.pdfform-main-div{

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pdfForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 350px;
    width: 400px;

    border-right: 1px dashed blue;
    border-left: 1px dashed blue;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    padding-left: 10px;
}